/* editando precio******************************** */

.img-precio {
    width: 59%;
}

.espacio {
    height: 95px;
}

span.personaje {
    font-weight: bold;
    color: #ca1b19;
}

.color-precio {
    background-color: #ffffff;
    width: 100%;
    height: 560px;
    padding: 0px;
}

.txt-precio {
    /* editando el cuadro*/
    background: transparent;
    color: rgb(0, 0, 0);
    height: auto;
    width: 550px;
    /* editando la letra*/
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    position: absolute;
    top: 200px;
    z-index: 1;
    right: 194px;
}

.btn-precio {
    background: #10484a;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    width: 230px;
    height: 50px;
    left: 165px;
    line-height: normal;
    padding: 5px 15px 8px 15px;
    position: absolute;
    text-align: center;
    z-index: 1;
    border-radius: 50px;
    top: 300px;
    text-decoration: none !important;
}

.btn-precio:hover {
    color: rgb(140, 226, 19);
}

@media (min-width: 720px) and (max-width: 1024px) {
    .img-precio {
        text-align: left;
        height: 450px;
        width: 500px;
    }
    .color-precio {
        background-color: #ffffff;
        width: 100%;
        height: 180px;
        padding: 0px;
        padding-left: 0px;
    }
    .txt-precio {
        /* editando el cuadro*/
        background: transparent;
        color: rgb(0, 0, 0);
        height: auto;
        width: 335px;
        /* editando la letra*/
        font-size: 42px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
        margin: 0px;
        top: none;
        left: 50%;
        position: absolute;
        z-index: 1;
    }
    .btn-precio {
        background: #1b4e60;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        width: 180px;
        height: 40px;
        left: 80px;
        line-height: normal;
        padding: 5px 15px 8px 15px;
        position: absolute;
        text-align: center;
        z-index: 1;
        border-radius: 50px;
        top: 180px;
    }
    .espacio {
        width: 100%;
        height: 220px;
    }
    .card-deck{
        width: 120%;
        
    }
}

@media (max-width: 420px) {
    .txt-precio {
        /* editando el cuadro*/
        background: #ffffffc7 !important;
        color: rgb(0, 0, 0);
        height: auto;
        width: 240px;
        /* editando la letra*/
        font-size: 25px !important;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
        margin: 0px;
        top: 200px;
        left: 50% !important;
        position: absolute;
        z-index: 1;
    }
    .card-deck{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 720px) {
    .img-precio {
        text-align: center;
    }
    .color-precio {
        background-color: #ffffff;
        width: 100%;
        height: 100px;
        padding: 0px;
        padding-left: 0px;
    }
    .txt-precio {
        /* editando el cuadro*/
        background: transparent;
        color: rgb(0, 0, 0);
        height: auto;
        width: 240px;
        /* editando la letra*/
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
        margin: 0px;
        top: none;
        left: 280px;
        position: absolute;
        z-index: 1;
    }
    .btn-precio {
        background: #1b4e60;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        width: 180px;
        height: 40px;
        left: 25px;
        line-height: normal;
        padding: 5px 15px 8px 15px;
        position: absolute;
        text-align: center;
        z-index: 1;
        border-radius: 50px;
        top: 150px;
    }
    .espacio {
        width: 100%;
        height: 270px;
    }
    .card-deck{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 624px) {
    .img-precio {
        text-align: left;
        height: 350px;
        width: 360px;
    }
    .color-precio {
        background-color: #ffffff;
        width: 100%;
        height: 260px;
        padding: 0px;
        padding-left: 0px;
    }
    .txt-precio {
        /* editando el cuadro*/
        background: transparent;
        color: rgb(0, 0, 0);
        height: auto;
        width: 240px;
        /* editando la letra*/
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
        margin: 0px;
        top: none;
        left: 50%;
        position: absolute;
        z-index: 1;
    }
    .btn-precio {
        background: #1b4e60;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        width: 180px;
        height: 40px;
        left: 25px;
        line-height: normal;
        padding: 5px 15px 8px 15px;
        position: absolute;
        text-align: center;
        z-index: 1;
        border-radius: 50px;
        top: 150px;
    }
    .espacio {
        width: 100%;
        height: 30px;
    }
}


/* *************************************************/

.modal-header.contacto {
    display: block;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.close {
    color: #fff;
    opacity: 1;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-header.contacto {
    display: block;
}

.modal-header {
    border-bottom: 3px solid #000000 !important;
}

.modal-header.contacto h4 {
    color: #2e3647;
    text-align: center;
    width: 100%;
    font-family: Arial;
    font-size: 23px;
}

p {
    line-height: 1.75;
}

.title-contacto {
    text-align: center;
    padding-bottom: 0px;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

.form-control {
    background-color: #f2f2f2;
    border: 1.1px solid #bdbfc2;
    height: 60px;
    border-radius: 15px;
    font-family: Arial;
}

.txt-compra,
.txt-licencias {
    color: #8a8b8c !important;
    font-size: 13px !important;
}

p {
    line-height: 1.75;
}

.title-pagos {
    color: #8a8b8c;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}

.btn-comprar {
    background-color: rgb(5, 78, 78);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    margin: 10px 0;
    width: 154px;
}

.split {
    border-bottom: 2px solid #8a8b8c;
    margin: 14px !important;
    padding: 20px 0 0 0;
}

.form_planes {
    width: 100%;
}

.valor-dscto {
    text-decoration-color: red;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

.btn-cupon,
.btn-login {
    background-color: rgb(5, 78, 78);
    border-radius: 4px;
    color: rgb(252, 249, 249);
    font-size: 14px;
    font-weight: 700;
    padding: 6px 14px;
    position: relative;
}

.btn-cupon {
    margin: 12px 0;
}

.allow-dropdown .flag-container {
    display: none;
}

.custom-select {
    cursor: pointer;
    width: auto;
}

.select-meses {
    float: right;
    margin-right: 2rem;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 3px solid #efa000;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 700;
}

.nav-tabs a {
    color: #8a8b8c;
    font-size: 26px;
}

a {
    color: #f4b80c;
}

.cargos_programa {
    width: 100% !important;
}

.cargos_programa,
.cargos_programa option,
.cargos_programa:focus,
.select-meses option,
.select-meses:focus {
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

@media (min-width: 992px) {
    section#precios {
        padding: 3rem;
    }
}

.page-section {
    padding: 40px 0;
    padding-top: 3rem;
}

.card-deck {
    margin-bottom: 50px;
    display: flex;
    
    
}

.card.price {
    border: 3px #fd0808 solid;
    border-radius: 14px;
    margin: 10px 10px;
}

.card-title {
    color: #fa0303;
    font-size: 24px;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.card-body.sesiones p {
    margin-bottom: 0;
    line-height: 36px;
}

.btn.btn-price {
    background: rgba(253, 194, 1, 0.733);
    border-radius: 20px;
    color: rgb(5, 66, 90);
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
    width: 170px;
}

.card-text {
    color: #0f0f0f !important;
    font-size: 22px !important;
    font-weight: 700;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.modal-title.plus {
    color: #f9be13;
    font-size: 22px;
    padding: 14px;
    text-align: center;
}

.txt-modal-title.plus {
    font-size: 14px !important;
    color: #fff !important;
}

.btn-price.plus,
.btn-price.webinar {
    margin: 14px;
}

.close.plus {
    color: #fff;
    line-height: 0;
}

.btn-submit {
    background-color: #f9be13;
    border-radius: 10px;
    color: #251448;
    font-weight: 700;
    margin: 10px 0;
    width: 154px;
}

.modal-open .modal {
    overflow-y: hidden !important;
}

.modal-content.plus {
    background-color: rgb(58, 57, 57);
    border-radius: 16px;
    margin: 0 auto;
    width: 80%;
    display: block;
}

.txt-modal.plus {
    font-size: 14px;
    color: #fff;
}